:root {
    background-color: #ffffff;
}

html,
body {
    margin: 0;
    height: 100%;
}

#visualizerCanvas {
    width: 55%;
    height: 100%;
    float: left;
}

#forms {
    width: 45%;
    height: 100%;
    float: left;
}

#canvasParent {
    width: 50%;
    height: 100%;
    margin: auto;
}

/* Visit https://lil-gui.georgealways.com/examples/kitchen-sink/ to demo the variables */
.lil-gui {
    --background-color: #ffffff;
    --text-color: #003536;
    --title-background-color: #ffffff;
    --title-text-color: #003536;
    --widget-color: #e3e8ed;
    --hover-color: #9fedd7;
    --focus-color: #9fedd7;
    --number-color: #003536;
    --string-color: #003536;

    --font-size: 0.7rem;
    --width: 100%;
    --font-size: 1.125rem;
    --input-font-size: 1.125rem;
    --font-family: "Segoe UI", Tahoma, Arial, sans-serif;

    /* --padding: 4px; */
    --spacing: 12px;
    /* --title-height: calc(var(--widget-height) + var(--spacing) * 1.25) */
    /* --name-width: 45%; */
    --slider-knob-width: 3px;
    /* --slider-input-width: 27%; */
    /* --color-input-width: 27%; */
    /* --slider-input-min-width: 45px; */
    /* --color-input-min-width: 45px; */
    /* --folder-indent: 7px; */
    /* --widget-padding: 0 0 0 3px; */
    --widget-height: 30px;
    --widget-border-radius: 10px;
    /* --checkbox-size: calc(0.75 * var(--widget-height)) */
    /* --scrollbar-width: 5px; */
}

/* GUI Formula area around button */
.lil-gui .controller.disabled {
    opacity: 1 !important;
}

/* GUI Formula button itself*/
.lil-gui .controller.disabled button {
    background-color: #e3e8ed;
    color: #ff6000;
    /* text-align: left; */
}
